h3 {
	display: inline;
	padding-right: 40px;
}

#my_hand{
	position: relative;
	clear:both;
	border: 1px solid gray;
	height: 240px;
	width: 826px;
}

/*картинка -визуализация рез-тата*/
#imgResultBad {
	display: none;
	position: absolute;
	left: 25px;
	/*top: 10px;*/
}

#imgResultGood {
	display: none;
	position: absolute;
	/*top: 50px;*/
	left: 44px;
}

 /* appearDiv's  в к-рых находятся img карт */
.current_hand{
	float:left;
}

/* блок для кнопок-картинок*/
#controls {
	clear:both;
}

#btnStick, #btnStep, #btnRestart {
	display: none;
	float: left;
}

